<div class="container">
    <div class="row">
        <div class="col l4">
            <img class="materialboxed" src="http://lorempixel.com/output/nature-q-c-340-280-8.jpg">
        </div>
        <div class="col l8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget nulla neque. Suspendisse potenti. Maecenas fringilla at odio vitae dapibus. Aliquam sed porttitor dolor, a tincidunt leo. Nunc lectus sapien, tempus ut lacus ac, lobortis finibus quam. Ut commodo scelerisque nunc. Quisque ultrices sed dui id dictum. Pellentesque sollicitudin, metus et lacinia iaculis, erat nunc auctor magna, id imperdiet augue nibh non purus. Vestibulum et tempor ante, vulputate viverra sem.

Donec dictum fermentum nisi quis dictum. Pellentesque nec nibh at metus facilisis convallis quis sit amet quam. Maecenas tincidunt scelerisque nisl, id venenatis urna varius vitae. Fusce accumsan, mi sit amet hendrerit scelerisque, nisi ex vehicula ipsum, ac dapibus magna justo ut lectus. Aenean posuere interdum velit. Mauris ac elit commodo, ornare libero non, ultricies sem. Mauris dignissim, arcu sagittis semper finibus, ipsum metus rutrum sem, interdum volutpat mi orci eget arcu. Donec convallis malesuada massa. Etiam ullamcorper vulputate sem sit amet gravida. Phasellus aliquet tempor gravida. Nullam at porta sem. Vestibulum id risus eget ipsum bibendum lobortis ac vitae leo.

Maecenas non nisi nec mi lobortis tempor. Donec lobortis lorem augue, sit amet dapibus metus ultricies a. Aenean id arcu metus. Vivamus hendrerit eleifend nulla ut finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin blandit lacus vitae sapien scelerisque, in blandit nunc scelerisque. Curabitur quis ligula eget eros tincidunt imperdiet.
        </div>
    </div>
</div>