<div class="container">
<div class="row">   

	<div class="col m12"><div id="gallery"></div></div>
</div>
</div>

<style type="text/css">
	/* Code mostly copied from https://github.com/gpbl/isomorphic500/blob/master/src/style/ThumbnailCollection.scss */

html {
  font-size: 16px;
}

#gallery {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail-wrapper {
  background-color: #333;
  min-width: 12rem;
  min-height: 8rem;
  position: relative;
  flex: 1;
  flex-basis: 8rem;
  margin-right: 2px;
  margin-bottom: 2px;
}

.thumbnail-wrapper:nth-child(5n) {
  flex-basis: 14rem;
}

.thumbnail-wrapper:nth-child(2n+1) {
  flex-basis: 10rem;
}

.thumbnail-wrapper:nth-child(7n+4) {
  flex-basis: 20rem;
  min-height: 12rem;
}

.thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbnail:hover {
  opacity: 0.9;
  transition: .2s ease-in;
}
</style>


<script type="text/javascript">
var images = [
  "http://i.imgur.com/d147Bxl.jpg", 
  "http://i.imgur.com/05MVrip.jpg",
  "http://i.imgur.com/S7IYhgl.jpg",
  "http://i.imgur.com/ojP1YVa.jpg", 
  "http://i.imgur.com/bm6rsj0.jpg",
  "http://i.imgur.com/x7RBxu6.jpg",
  "http://i.imgur.com/giWQgOH.jpg",
  "http://i.imgur.com/IwyuDQJ.jpg",
  "http://i.imgur.com/Hh6k3J8.jpg",
  "http://i.imgur.com/rNDqyL6.jpg",
  "http://i.imgur.com/LFXeo2R.jpg",
  "http://i.imgur.com/vjmyKgO.jpg",
  "http://i.imgur.com/5ciWtj0.jpg",
  "http://i.imgur.com/9EG2E16.jpg",
  "http://i.imgur.com/7aLkUiM.jpg",
  "http://i.imgur.com/8UM5EkA.jpg",
  "http://i.imgur.com/SJzkbOU.jpg",
  "http://i.imgur.com/FQp2hFZ.jpg",
  "http://i.imgur.com/uHmutda.jpg",
  "http://i.imgur.com/9Rmj753.jpg",
  "http://i.imgur.com/gJ9Ljcp.jpg",
  "http://i.imgur.com/s3iRoGx.jpg",
  "http://i.imgur.com/C6cWWAn.jpg",
  "http://i.imgur.com/GTKcLO8.jpg",
  "http://i.imgur.com/zaBC4Yh.jpg",
  "http://i.imgur.com/HEwjakC.jpg",
  "http://i.imgur.com/wthftUU.jpg",
  "http://i.imgur.com/bm6rsj0.jpg",
  "http://i.imgur.com/nxHW2XD.jpg",
  "http://i.imgur.com/sSC7e4e.jpg",
  "http://i.imgur.com/B0bg3Tw.jpg",
  "http://i.imgur.com/v74ryAr.jpg",
  "http://i.imgur.com/9kqEFZS.jpg",
  "http://i.imgur.com/ncZJogm.jpg",
  "http://i.imgur.com/LImA51J.jpg",
  "http://i.imgur.com/j7Nn7ry.jpg",
  "http://i.imgur.com/OQYjNjs.jpg",
  "http://i.imgur.com/O2ZzFf9.jpg",
  "http://i.imgur.com/kDb6s2B.jpg",
  "http://i.imgur.com/3xDJxSj.jpg",
  "http://i.imgur.com/LWA9rXJ.jpg?1",
  "http://i.imgur.com/zHNGny7.jpg",
  "http://i.imgur.com/9nLW84F.jpg",
  "http://i.imgur.com/3KvvUNA.jpg",
  "http://i.imgur.com/I4FHN5N.jpg",
  "http://i.imgur.com/OmdaEm4.jpg",
  "http://i.imgur.com/ZK0buZe.jpg",
  "http://i.imgur.com/xq68iN3.jpg",
  "http://i.imgur.com/0l3SHmC.jpg",
  "http://i.imgur.com/OVg1in5.jpg",
  "http://i.imgur.com/nK4SRyd.jpg",
  "http://i.imgur.com/FeWQTuK.jpg",
  "http://i.imgur.com/3KnMX8X.jpg",
  "http://i.imgur.com/wnykHlN.jpg",
  "http://i.imgur.com/OguNHql.jpg",
  "http://i.imgur.com/Y44oWLb.jpg",
  "http://i.imgur.com/t64SzSm.jpg",
  "http://i.imgur.com/AyLjC4u.jpg",
  "http://i.imgur.com/W2wnupr.jpg",
  "http://i.imgur.com/z2uIC9m.jpg"	
];

var gallery = document.getElementById("gallery");

for (var i = 0; i < images.length; i++) {
  var thumbnailWrapper = document.createElement("div");
  thumbnailWrapper.className = "thumbnail-wrapper";

  var thumbnail = document.createElement("a");
  thumbnail.className = "thumbnail";
  thumbnail.setAttribute('style', 'background-image:url(\"' + images[i] + '\");');
  // thumbnail.setAttribute('href', images[i]);

  thumbnailWrapper.appendChild(thumbnail);
  gallery.appendChild(thumbnailWrapper);
}

console.log(gallery)
</script>